.container {
  padding: 15px;
}
.ant-form + .ant-table-wrapper {
  margin-top: 10px;
}

.table-operator {
  margin: 10px 0;
}
.ant-btn + .ant-btn {
  margin-left: 10px;
}

.ant-table td { white-space: nowrap; }